.root {
  margin: 40px auto 0;
  background-color: #fff;
  /*min-width: 420px;*/
  max-width: 837px;
  border-radius: 22px;
  padding: 32px 48px 22px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 877px) {
  .root {
    padding: 32px 20px 22px;
    margin: 40px 20px;
  }
}
