.root {
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.article {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 4px;
  color: #cdcdcd;
}

.contentContainer {
  display: flex;
  flex: auto;
  justify-content: space-between;
  /*height: 100%;*/
}

.preview {
  display: flex;
  flex: auto;
  /*height: auto;*/
  justify-content: space-between;
  flex-direction: column;
  max-width: 329px;
}

.info {
  padding-top: 14px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex: auto;
  max-width: 360px;
  height: 100%;
}

.price {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 26px;
}

.currency {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.previewActive {
  min-width: 208px;
}
