@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  color: black;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input {
  display: block;
}
input[type='radio'] {
  display: inline;
}

ul {
  list-style: none;
}
